.header {
    width: 100%;
    height: 80px;
    padding: 48px 96px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

    @media (max-width: 992px) {
        padding: 8px 12px;
    }

    .firstColumn {
        display: flex;
        align-items: center;
        gap: 48px;
        font-size: 16pt;

        .pageTitle {
            font-size: 24pt;
            font-weight: 700;

            @media (max-width: 992px) {
                font-size: 12pt;
            }
        }

        .options {
            display: flex;
            gap: 24px;

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    .secondColumn {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 16pt;

        @media (max-width: 992px) {
            display: none;
        }

        .signUpButton {
            background-color: orange;
            font-weight: 700;
            padding: 8px 16px;
            color: white;
            border-radius: 8px;
            display: flex;
            justify-content: center;
        }
    }
}
